* {
  scrollbar-width: thin;
  scrollbar-color: #606060 #f9f9f9;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f9f9f9
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #909090;
    &:hover {
      background: #606060;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
